@model IEnumerable<ContactManager.BusinessLogic.Contact>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @if (@item.Address!=null)
                        @item.Address.ToString()
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="details-btn" data-item-id="@item.Id" data-toggle="modal" data-target="#modal-container" id="modal-link"> Details</a> |
                    <a class="delete-btn" data-item-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>